/* CSS Reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Mobile layout simulator */

body {
    width: 512 px;
    height: 100vh;
    background-color: #141317;
    font-family: "DM Sans", sans-serif;
}

/* Utilities */

.d-flex {
    display:flex;
}

/* Livello 1: separazione footer */

.app-wrapper {
    flex-direction: column;
    height: 100%;
    
}

.central-wrapper {
    flex-direction: row;
    flex-basis: 90%;
    height: calc(100vh-10%);
}

.footer {
    background-color: rgb(255, 127, 251);
    flex-basis: 10%;
}

/* Livello 2: sidebar + main */

.sidebar {
    background-color: red;
    flex-basis: 20%;
} 

/* Elementi della sidebar */

.sidebar {
    background-color: #141317;
}

.sidebar-channels {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

li.channel {
    display:block;
}

li img {
    height:60px;
    
}

img.round {
    border-radius: 50%;
}

/* Livello 3  Header della sezione messaggi */

.main {
    flex-direction: column;
    flex-grow:1;
    background-color: #1C1D22;
    margin-top:10px;
}

.header-messaggi {
    background-color: #1C1D22;
    flex-basis:10%;
    border: 1px solid white;
    border-top-left-radius: 15px;
    color: white;
}

.chat-list {
    background-color: #1C1D22;
    flex-grow:1;
    border: 1px solid white;
    color: white;
}