/* CSS Reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Mobile layout simulator */

body {
    width: 512 px;
    height: 100vh;
}

/* Utilities */

.d-flex {
    display:flex;
}

/* Livello 1: separazione footer */

.app-wrapper {
    flex-direction: column;
    height: 100vh;
    
}

.central-wrapper {
    background-color: aquamarine;
    flex-direction: row;
    flex-basis: 90%;
}

.footer {
    background-color: rgb(255, 127, 251);
    height:0;
    flex-grow: 1;
}

/* Livello 2: sidebar + main */

.sidebar {
    background-color: red;
    flex-basis: 20%;
    
} 

/* Livello 3  Header della sezione messaggi */

.main {
    flex-direction: column;
    flex-grow:1;
}

.header-messaggi {
    background-color: blueviolet;
    flex-basis:10%;
}

.chat-list {
    background-color: brown;
    flex-grow:1;
}